# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Barrel/.vscode/settings.json
Barrel/Barrel.xcodeproj/project.xcworkspace/xcuserdata/jakubnowak.xcuserdatad/UserInterfaceState.xcuserstate
Barrel/Barrel.xcodeproj/xcuserdata/jakubnowak.xcuserdatad/xcschemes/xcschememanagement.plist
Barrel/build/
